<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Dashboard Tab -->
  <ion-tab title="RSS" icon-off="ion-social-rss-outline" icon-on="ion-social-rss" href="#/tab/rss">
    <ion-nav-view name="tab-rss"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Camera" icon-off="ion-camera" icon-on="ion-camera" href="#/tab/camera">
    <ion-nav-view name="tab-camera"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Location" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/location">
    <ion-nav-view name="tab-location"></ion-nav-view>
  </ion-tab>
</ion-tabs>
